.socialMediaIcon {
  width: 28px;
  height: 28px;
}

.mailIcon {
  height: 28px;
}

.headerUnderline {
  border-bottom: 1px #36383B solid;
  padding-bottom: 3px;
}

.headerLink {
  color: rgba(54, 56, 59, 0.7);
}

.headerLink:hover {
  color: #36383B;
}
