.homeButton {
  padding: 10px 20px;
  border-radius: 25px;
}

.listservButton {
  background-color: rgba(227, 171, 16, 0.8);
  color: white;
}

.listservButton:hover {
  background-color: #E3AB10;
}

.aboutButton {
  color: rgba(227, 171, 16, 0.8);
  border: 2px rgba(227, 171, 16, 0.8) solid;
}

.aboutButton:hover {
  color: rgba(227, 171, 16);
  border: 2px rgba(227, 171, 16) solid;
}

.girlHeight-lg {
  height: 500px;
}

.girlHeight-med {
  height: 400px;
}

.girlHeight-sm {
  height: 300px;
}

.donateButton {
  background-color: rgba(227, 171, 16, 0.8);
  color: white;
}
