.aboutIcon {
  height: 125px;
}

.aboutPictureDiv {
  border-radius: 15px;
  margin: 10px;
}

.pictureWidth {
  width: 400px;
}

.mobilePictureWidth {
  width: 350px;
}

.aboutPicture {
  border-radius: 15px;
  opacity: 1;
  transition: opacity 250ms ease;
  box-shadow: 0 0 2px #36383B;
}

.aboutPictureHover {
  opacity: 0.1;
  box-shadow: 0 0 3px #36383B;
  background-color: #36383B;
}

.aboutPictureDescription {
  opacity: 0;
  position: absolute;
  max-width: 300px;
}

.aboutPictureDescriptionHover {
  position: absolute;
  max-width: 300px;
  opacity: 1;
}
