.lineDivisor {
  border: 0.5px #ffffff solid;
}

#sidebar {
  /* background-color: #e3ab10; */
  /* z-index: 1000; */
  /* transition: right 1000ms; */
}

#sidebar.open {
  right: 0;
}

.whiteXIcon {
  width: 25px !important;
  height: 25px !important;
}
