.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bgNormalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(#FFFFFF , #E3E3E3);
}

#bgSidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.705);
  -webkit-transition: background-color 400ms ease-out;;
  transition: background-color 400ms ease-out;
}

#sidebarDiv {
  background-color: #e3ab10;
  position: fixed;
  top: 0;
  right: 0;
  width: 50em;
  max-width: 50%;
  height: 100%;
  z-index: 1000;
  transform: translateX(50em);
  -webkit-transform: translateX(50em);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
}

.open {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
}
